<h1 id="classDetailsHeader" *ngIf="monster">{{monster.name}}</h1>
<hr>
<div id="classDetailsContainer" *ngIf="monster">
  <mat-card class="classDetailsSection">
    <h3>Info</h3>
    <mat-list>
      <mat-list-item>{{monster.size}}, {{monster.alignment}}, {{monster.type}} {{monster.subtype}}</mat-list-item>
      <mat-list-item> <b>CR:</b> &nbsp; {{monster.challenge_rating}}</mat-list-item>
      <mat-list-item> <b>AC:</b> &nbsp;{{monster.armor_class}}</mat-list-item>
      <mat-list-item> <b>HP:</b> &nbsp;{{monster.hit_points}}</mat-list-item>
      <mat-list-item> <b>Hit Dice:</b> &nbsp;{{monster.hit_dice}}</mat-list-item>
      <mat-list-item><h4>Senses:</h4></mat-list-item>
      <mat-list-item>{{monster.senses}}</mat-list-item>
      <mat-list-item><h4>Speaks:</h4></mat-list-item>
      <mat-list-item>{{monster.languages}}</mat-list-item>
      <mat-list-item><h4>Speed:</h4></mat-list-item>
      <mat-list-item>{{monster.speed}}</mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card class="classDetailsSection">
      <h3>Immunities, Vulnerabilities, &amp; Resistances</h3>
      <mat-list>
        <mat-list-item><h4>Condition Immunities:</h4></mat-list-item>
        <mat-list-item>{{monster.condition_immunities || 'none'}}</mat-list-item>
        <mat-list-item><h4>Damage Immunities:</h4></mat-list-item>
        <mat-list-item>{{monster.damage_immunities || 'none'}}</mat-list-item>
        <mat-list-item><h4>Damage Resistances:</h4></mat-list-item>
        <mat-list-item>{{monster.damage_resistances || 'none'}}</mat-list-item>
        <mat-list-item><h4>Damage Vulnerabilities:</h4></mat-list-item>
        <mat-list-item>{{monster.damage_vulnerabilities|| 'none'}}</mat-list-item>
      </mat-list>
    </mat-card>
    <mat-card *ngIf="monster.actions" class="classDetailsSection">
      <h3>Actions</h3>
      <div *ngFor="let action of monster.actions">
        <p><b>{{action.name}}:</b> {{action.desc}} <b>Attack Bonus:</b> {{action.attack_bonus}}</p>
      </div>
    </mat-card>
    <mat-card *ngIf="monster.legendary_actions || monster.special_abilities"class="classDetailsSection">
      <h3>Special Actions &amp; Abilities</h3>
      <h4>Lengendary Actions</h4>
      <div *ngFor="let action of monster.legendary_actions">
        <p><b>{{action.name}}:</b> {{action.desc}} <b>Attack Bonus:</b> {{action.attack_bonus}}</p>
      </div>
      <h4>Special Abilities</h4>
      <div *ngFor="let ability of monster.special_abilities">
        <p><b>{{ability.name}}:</b> {{ability.desc}} <b>Attack Bonus:</b> {{ability.attack_bonus}}</p>
      </div>
    </mat-card>
  <mat-card class="classDetailsSection">
    <h3>Basic Stats &amp; Modifiers</h3>
    <mat-list>
      <mat-list-item>Charisma: {{monster.charisma || 10}} </mat-list-item>
      <mat-list-item>Save Modifier: {{monster.charisma_save || Math.ceil((monster.charisma-10)/2) || 0}}</mat-list-item>
      <mat-list-item>Dexterity: {{monster.dexterity || 10}} </mat-list-item>
      <mat-list-item>Save Modifier: {{monster.dexterity_save || Math.ceil((monster.dexterity-10)/2) || 0}}</mat-list-item>
      <mat-list-item>Intelligence: {{monster.intelligence || 10}} </mat-list-item>
      <mat-list-item>Save Modifier: {{monster.intelligence_save || Math.ceil((monster.intelligence-10)/2) || 0}}</mat-list-item>
      <mat-list-item>Strength: {{monster.strength || 10}} </mat-list-item>
      <mat-list-item>Save Modifier: {{monster.strength_save || Math.ceil((monster.strength-10)/2) || 0}}</mat-list-item>
      <mat-list-item>Wisdom: {{monster.wisdom || 10}} </mat-list-item>
      <mat-list-item>Save Modifier: {{monster.wisdom_save || Math.ceil((monster.wisdom-10)/2) || 0}}</mat-list-item>
      <mat-list-item>Constitution: {{monster.constitution || 10}} </mat-list-item>
      <mat-list-item>Save Modifier: {{monster.constitution_save || Math.ceil((monster.constitution-10)/2) || 0}}</mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card class="classDetailsSection">
    <h3>Other Stat Modifiers</h3>
    <mat-list>
      <mat-list-item>Acrobatics: {{monster.acrobatics || (Math.ceil((monster.dexterity-10)/2)) || 0 }}  </mat-list-item>
      <mat-list-item>Animal Handling: {{monster.animal_handling || (Math.ceil((monster.wisdom-10)/2)) || 0 }} </mat-list-item>
      <mat-list-item>Arcana: {{monster.arcana || (Math.ceil((monster.intelligence-10)/2)) || 0 }} </mat-list-item>
      <mat-list-item>Athletics: {{monster.athletics || (Math.ceil((monster.strength-10)/2)) || 0 }} </mat-list-item>
      <mat-list-item>Deception: {{monster.deception || (Math.ceil((monster.charisma-10)/2)) || 0 }} </mat-list-item>
      <mat-list-item>History: {{monster.history || (Math.ceil((monster.intelligence-10)/2)) || 0 }} </mat-list-item>
      <mat-list-item>Insight: {{monster.insight || (Math.ceil((monster.wisdom-10)/2)) || 0 }} </mat-list-item>
      <mat-list-item>Investigation: {{monster.investigation || (Math.ceil((monster.intelligence-10)/2)) || 0 }} </mat-list-item>
      <mat-list-item>Medicine: {{monster.medicine || (Math.ceil((monster.wisdom-10)/2)) || 0 }} </mat-list-item>
      <mat-list-item>Nature: {{monster.nature || (Math.ceil((monster.intelligence-10)/2)) || 0 }} </mat-list-item>
      <mat-list-item>Perception: {{monster.perception || (Math.ceil((monster.wisdom-10)/2)) || 0 }} </mat-list-item>
      <mat-list-item>Performance: {{monster.performance || (Math.ceil((monster.charisma-10)/2)) || 0 }} </mat-list-item>
      <mat-list-item>Persuasion: {{monster.persuasion || (Math.ceil((monster.charisma-10)/2)) || 0 }} </mat-list-item>
      <mat-list-item>Religion: {{monster.religion || (Math.ceil((monster.intelligence-10)/2)) || 0 }} </mat-list-item>
      <mat-list-item>Sleight of Hand: {{monster.sleight_of_hand || (Math.ceil((monster.dexterity-10)/2)) || 0 }} </mat-list-item>
      <mat-list-item>Stealth: {{monster.stealth || (Math.ceil((monster.dexterity-10)/2)) || 0 }} </mat-list-item>
      <mat-list-item>Survival: {{monster.survival || (Math.ceil((monster.wisdom-10)/2)) || 0 }} </mat-list-item>
      
    </mat-list>
  </mat-card>

</div>
