<div id="dndHeaderContainer">
<h1>Welcome to DnD Cat</h1>
<p>DnD Cat is a handy reference, only referencing free to access information. Easily look up information without having to page through the Player's Handbook.</p>
<h4>Get Started with One of the Following Options</h4>
<hr>
</div>
<div id="dndCardContainer">
<mat-card class="dndCard">
  <mat-card-title>Classes & Subclasses</mat-card-title>
  <mat-card-content>This section contains class and subclass information for every Dungeons and Dragons class.</mat-card-content>
  <mat-card-actions><button mat-button routerLink='/classes'>Classes</button></mat-card-actions>
</mat-card>

<mat-card class="dndCard">
  <mat-card-title>Races</mat-card-title>
  <mat-card-content>This section contains race and subrace information for every Dungeons and Dragons race.</mat-card-content>
  <mat-card-actions><button mat-button routerLink='/races'>Races</button></mat-card-actions>
</mat-card>

<mat-card class="dndCard">
    <mat-card-title>Spells</mat-card-title>
    <mat-card-content>This section contains spell information, including schools, classes who have it, and more.</mat-card-content>
    <mat-card-actions><button mat-button routerLink='/spells'>Spells</button></mat-card-actions>
  </mat-card>

<mat-card class="dndCard">
    <mat-card-title>Monsters</mat-card-title>
    <mat-card-content>This section contains detailed information on a variety of monsters you may encounter in D&amp;D games.</mat-card-content>
    <mat-card-actions><button mat-button routerLink='/monsters'>Monsters</button></mat-card-actions>
  </mat-card>

<mat-card class="dndCard">
  <mat-card-title>Equipment</mat-card-title>
  <mat-card-content></mat-card-content>
  <mat-card-actions><button mat-button routerLink='/equipment'>Equipment</button></mat-card-actions>
</mat-card>

<mat-card class="dndCard">
  <mat-card-title>Game Mechanics</mat-card-title>
  <mat-card-content></mat-card-content>
  <mat-card-actions><button mat-button routerLink='/mechanics'>Mechanics</button></mat-card-actions>
</mat-card>

</div>